@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=ABeeZee:regular,italic);
@tailwind components;
/* @tailwind base; */
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Roie';
  src: url('./assets/Roie.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
a{
  text-decoration: none;
  color: inherit;
}
.abeezee{
  font-family: "ABeeZee", serif;
}
body {
  margin: 0px;
}

.roie {
  font-family: "Roie", serif;
}

.lato {
  font-family: "Lato";
}

@keyframes wave-text {
  00% {
    transform: translateY(0em);
  }

  2% {
    transform: translateY(-0.1em);
  }

  5% {
    transform: translateY(0em);
  }

  100% {
    transform: translateY(0em);
  }
}

.a-p:hover span {
  display: inline-block;
  animation: wave-text 5s ease-in-out infinite;
}


.a-p span:nth-child(2) {
  animation-delay: 0.0s;
}

.a-p span:nth-child(3) {
  animation-delay: 0.05s;
}

.a-p span:nth-child(4) {
  animation-delay: 0.1s;
}

.a-p span:nth-child(5) {
  animation-delay: 0.15s;
}

.a-p span:nth-child(6) {
  animation-delay: 0.2s;
}

.a-p span:nth-child(7) {
  animation-delay: 0.25s;
}

.h-full-scr {
  height: calc(100vh - 60px);
  background-color: aqua;
}

.template-shadow {
  box-shadow: 0px -15px 20px rgba(165, 171, 183, 0.15);
}

.container-master {
  scroll-snap-type: y mandatory;
}

.child {
  scroll-snap-align: start;
}

.text-shadow{
  text-shadow: -5px 5px 10px rgba(209, 217, 230, 0.2), 5px -5px 10px rgba(209, 217, 230, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.35), 5px 5px 13px rgba(209, 217, 230, 0.9);
}